/* Colors */

/* Navy
 * r4 g6 b63
 */
$navy: #04063F;

/* Ocean
 * r20 g85 b115
 */
$ocean: #145573;

/* Beige
 * r242 g225 b186
 */
$beige: #f211ba;

/* Gold
 * r241 g188 b81
 */
$gold: #f1bc51;

/* Orange
 * r242 g100 b67
 */
$orange: #f26443;
