/**
 *
 *  Header
 *
 */
.site-header {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.3);
  padding: 16px 0;

  .site-title {
    display: block;
    width: 100px;
    height: 47px;
    text-indent: -9999px;
    float: left;
    margin: 0;
    padding: 0;

    > a {
      display: block;
      text-indent: -9999px;
      width: 100%;
      height: 47px;
      background: transparent url(images/tm-logo.png) no-repeat;
      background-size: cover;
    }
  }/* site-title */

  .site-navigation {
    float: right;

    ul {
      margin: 0;
      padding: 24px 0 0;
      text-indent: 0;

      li {
        list-style: none;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
