/**
 *
 *  Portfolio Work Sample Styles
 *
 */
.portfolio-entry {
  width: 100%;
  padding: 2em 1%;
  margin: 3em auto;
  border-bottom: 5px dotted #555555;
  
  &:last-child {
    border: none;
  }
  
  .portfolio-title {
    font-size: 28px;
    text-align: left;
  }
  
  .portfolio-thumb {
    max-width: 40%;
    height: auto;
    float: left;
    border: 5px solid #ffffff;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .skill-set-icons {
    margin: 1em 0;
    padding: 0;
    width: 100%;
    text-align: left;
    
    .skill-set {
      list-style: none;
      display: inline-block;
      width: 30px;
      background: #ffffff;
      font-size: 18px;
      line-height: 18px;
      padding: 6px 0;
      margin: 0 1em;
      text-align: center;
      color: #2b2b2b;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
  }
  
  .portfolio-content {
    width: 55%;
    margin: 0 0 2em 2%;
    float: left;
  }
}
